@font-face {
  font-family: 'Terminus Nerd Font';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminus Nerd Font Bold';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminus Nerd Font Italic';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #222222;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#titlebar {
  height: 30px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: drag;
  color: #ffffff;
}

#titlebar #titlebar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  position: relative;
}

#titlebar #titlebar-icon {
  font-size: 18px;
  margin-top: 2px;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-app-region: no-drag;
  position: relative;
}

#titlebar #titlebar-icon:hover {
  color: #01A2FF;
}

#titlebar #titlebar-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #222222;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
  z-index: 1000;
  margin-left: 5px;
  font-family: "Terminus Nerd Font Italic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#titlebar #titlebar-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

#titlebar #window-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Terminus Nerd Font Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#titlebar #window-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-app-region: no-drag;
}

.control-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin-right: 8px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  position: relative;
}

.control-button[title]::before {
  content: attr(title);
  display: none;
}

.control-button:hover {
  background-color: #01A2FF;
}

.control-button::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #222222;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s ease;
  transition: visibility 0.3s ease;
  pointer-events: none;
  z-index: 1000;
  margin-right: 8px;
  font-family: "Terminus Nerd Font Italic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.control-button:hover::after {
  opacity: 1;
  visibility: visible;
}

#content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main-content {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.main-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content-1 {
  background-color: #ffffff;
}

#main-content-2 {
  background-color: #ffffff;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../../assets/fontawesome/webfonts/fa-solid-900.woff2") format("woff2");
}
/*# sourceMappingURL=styles.css.map */