// Theme variables
$background-color: #ffffff
$text-color: #222222
$titlebar-background: #222222
$titlebar-text-color: #ffffff
$control-button-color: #ffffff
$control-button-hover-color: #01A2FF
$titlebar-icon-color: #ffffff
$titlebar-icon-hover-color: #01A2FF
$main-content-1-background: #ffffff
$main-content-2-background: #ffffff

// Other variables
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif

// Font face declaration for Terminus Nerd Font
@font-face
  font-family: 'Terminus Nerd Font'
  src: url('../../assets/fonts/terminus/TerminessNerdFont-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// Font face declaration for Terminus Nerd Font BOLD
@font-face
  font-family: 'Terminus Nerd Font Bold'
  src: url('../../assets/fonts/terminus/TerminessNerdFont-Bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// Font face declaration for Terminus Nerd Font ITALIC
@font-face
  font-family: 'Terminus Nerd Font Italic'
  src: url('../../assets/fonts/terminus/TerminessNerdFont-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// Global styles
html, body
  height: 100%
  overflow: hidden

body
  font-family: $font-stack
  line-height: 1.6
  color: $text-color
  background-color: $background-color
  margin: 0
  padding: 0
  display: flex
  flex-direction: column

// Titlebar styles
#titlebar
  height: 30px
  background-color: $titlebar-background
  display: flex
  justify-content: space-between
  align-items: center
  -webkit-app-region: drag
  color: $titlebar-text-color

  #titlebar-left
    display: flex
    align-items: center
    padding-left: 10px
    position: relative

  #titlebar-icon
    font-size: 18px
    margin-top: 2px
    color: $titlebar-icon-color
    transition: color 0.3s ease
    -webkit-app-region: no-drag
    position: relative

    &:hover
      color: $titlebar-icon-hover-color

    &::after
      content: attr(data-tooltip)
      position: absolute
      top: 50%
      left: 100%
      transform: translateY(-50%)
      background-color: $titlebar-background
      color: $titlebar-text-color
      padding: 4px 8px
      border-radius: 4px
      font-size: 11px
      white-space: nowrap
      opacity: 0
      visibility: hidden
      transition: opacity 0.3s ease, visibility 0.3s ease
      pointer-events: none
      z-index: 1000
      margin-left: 5px
      font-family: 'Terminus Nerd Font Italic', $font-stack

    &:hover::after
      opacity: 1
      visibility: visible

  #window-title
    flex-grow: 1
    margin-top: 2px
    text-align: center
    text-transform: uppercase
    font-family: 'Terminus Nerd Font Bold', $font-stack
    font-size: 14px  // Adjust this value as needed

  #window-controls
    display: flex
    -webkit-app-region: no-drag

.control-button
  width: 12px
  height: 12px
  border-radius: 50%
  border: none
  margin-right: 8px
  background-color: $control-button-color
  transition: background-color 0.3s ease
  position: relative

  // Remove the title attribute to prevent default browser tooltip
  &[title]
    &::before
      content: attr(title)
      display: none

  &:hover
    background-color: $control-button-hover-color

  &::after
    content: attr(data-tooltip)
    position: absolute
    top: 50%
    right: 100%
    transform: translateY(-50%)
    background-color: $titlebar-background
    color: white
    padding: 4px 8px
    border-radius: 4px
    font-size: 11px
    white-space: nowrap
    opacity: 0
    visibility: hidden
    transition: visibility 0.3s ease
    pointer-events: none
    z-index: 1000
    margin-right: 8px
    font-family: 'Terminus Nerd Font Italic', $font-stack

  &:hover::after
    opacity: 1
    visibility: visible

// Content styles
#content
  flex: 1
  display: flex
  flex-direction: column
  overflow: hidden

.main-content
  display: none
  flex: 1
  width: 100%
  margin: 0
  padding: 0
  overflow: auto

  &.active
    display: flex
    flex-direction: column

#main-content-1
  background-color: $main-content-1-background

#main-content-2
  background-color: $main-content-2-background

// Responsive design
@media (max-width: 600px)
  body
    font-size: 14px

// Font Awesome
@font-face
  font-family: 'Font Awesome 5 Free'
  font-style: normal
  font-weight: 900
  font-display: block
  src: url("../../assets/fontawesome/webfonts/fa-solid-900.woff2") format("woff2")
