@font-face {
  font-family: 'Terminus Nerd Font';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Terminus Nerd Font", sans-serif;
  color: #ffffff;
}

.splash-content {
  text-align: center;
}

.splash-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.splash-content .loading {
  font-size: 14px;
  margin-bottom: 20px;
}

.loading-bar-container {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
}

.loading-bar {
  width: 0;
  height: 100%;
  background-color: #01A2FF;
  -webkit-animation: loading 3s ease-in-out infinite;
          animation: loading 3s ease-in-out infinite;
}

@-webkit-keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
