@font-face {
  font-family: 'Terminus Nerd Font';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminus Nerd Font Bold';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminus Nerd Font Italic';
  src: url("../../assets/fonts/terminus/TerminessNerdFont-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #222222;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px solid #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#titlebar {
  height: 25px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: drag;
  color: #ffffff;
  -webkit-user-select: none;
  padding: 0 5px;
}

#titlebar::before, #titlebar::after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  background-color: #222222;
}

#titlebar::before {
  left: 0;
}

#titlebar::after {
  right: 0;
}

#titlebar #titlebar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  position: relative;
}

#titlebar #titlebar-icon {
  margin-top: -5px;
  margin-left: -6px;
  color: #ffffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-app-region: no-drag;
  position: relative;
  font-size: 18px;
}

#titlebar #titlebar-icon:hover {
  color: #01A2FF;
}

#titlebar #titlebar-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #222222;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
  z-index: 1000;
  margin-left: 10px;
  font-family: "Terminus Nerd Font", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: normal;
}

#titlebar #titlebar-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

#titlebar #window-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: -2px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Terminus Nerd Font Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#titlebar #window-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-app-region: no-drag;
  margin-right: -2px;
}

.control-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin-top: -5px;
  margin-right: 5px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  position: relative;
}

.control-button[title]::before {
  content: attr(title);
  display: none;
}

.control-button:hover {
  background-color: #01A2FF;
}

.control-button::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #222222;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s ease;
  transition: visibility 0.3s ease;
  pointer-events: none;
  z-index: 1000;
  margin-right: 4px;
  font-family: "Terminus Nerd Font Italic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.control-button:hover::after {
  opacity: 1;
  visibility: visible;
}

.control-button:last-child {
  margin-right: 0;
}

#content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
}

.main-content {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content-1, #main-content-2 {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#main-content-1 {
  background-color: #ffffff;
}

#main-content-1 .quick-command {
  width: 400px;
  height: 30px;
  background-color: #666666;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content-1 .quick-command input[type="text"] {
  width: 320px;
  height: 100%;
  border: none;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222222;
  color: #01a2ff;
  outline: none;
  font-family: "Terminus Nerd Font", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: light;
  -webkit-transition: font-size 0.3s ease, color 0.3s ease;
  transition: font-size 0.3s ease, color 0.3s ease;
}

#main-content-1 .quick-command input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

#main-content-1 .quick-command input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

#main-content-1 .quick-command input[type="text"]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

#main-content-1 .quick-command input[type="text"]::placeholder {
  color: #ffffff;
  opacity: 1;
}

#main-content-1 .quick-command input[type="text"]:not(:focus) {
  color: #ffffff;
}

#main-content-1 .quick-command input[type="text"]:focus {
  font-size: 12.5px;
  color: #01a2ff;
  letter-spacing: .5px;
}

#main-content-1 .quick-command input[type="submit"] {
  width: 80px;
  height: 100%;
  border: none;
  padding-right: 10px;
  background-color: #222222;
  color: #ffffff;
  font-family: "Terminus Nerd Font Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#main-content-1 .quick-command input[type="submit"]:hover {
  background-color: #01a2ff;
  color: #ffffff;
}

#main-content-1 .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

#main-content-1 .content-wrapper .left-div, #main-content-1 .content-wrapper .right-div {
  height: 100%;
  overflow-y: auto;
}

#main-content-1 .content-wrapper .left-div {
  margin-right: 0;
  background-color: #ffffff;
  width: 240px;
}

#main-content-1 .content-wrapper .right-div {
  margin-left: 0;
  background-color: #222222;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

#main-content-1 .content-wrapper .right-div .program-button {
  width: 140px;
  height: 35px;
  background-color: #222222;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-family: "Terminus Nerd Font Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#main-content-1 .content-wrapper .right-div .program-button:hover {
  border: 1px solid #01a2ff;
  font-size: 14.5px;
}

#main-content-1 .content-wrapper .right-div .program-button:hover i:not(.fa-folder-open) {
  display: none;
}

#main-content-1 .content-wrapper .right-div .program-button:hover i.fa-folder-open {
  display: inline-block;
}

#main-content-1 .content-wrapper .right-div .program-button i {
  font-size: 16px;
}

#main-content-1 .content-wrapper .right-div .program-button i.fa-folder-open {
  display: none;
}

#main-content-2 {
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

#main-content-2 h1, #main-content-2 p {
  color: #ffffff;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../../assets/fontawesome/webfonts/fa-solid-900.woff2") format("woff2");
}

#toggle-search {
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  width: auto;
  height: auto;
  margin-right: 10px;
}

#toggle-search:hover {
  color: #01A2FF;
}

#main-content-1 .quick-command {
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 0;
  opacity: 0;
  display: none;
}

#main-content-1 .quick-command.visible {
  max-height: 30px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
